@import './transition.scss';

::-webkit-scrollbar {
    display: none;
}

#app {
    color: $fontColor;
    font-size: 14px;
    line-height: 21px;
}

// 带底部tab页面
.tabBar {
    min-height: 100vh;
    padding-bottom: var(--van-tabbar-height) !important;
    box-sizing: border-box;
}

// 无tab页面
.page {
    min-height: 100vh;
}