// color
$primary: #1E3754;
$pageBg: #FAFAFA;
$fontColor: #1E3754;
$subColor: #8EA0C0;
$fade: #F7FAFF;

// 左右留白
$pageInterval: 15px;

// mixin
@mixin box {
    box-shadow: 0px 3px 4px 0px rgba(14, 0, 0, 0.05);
    border-radius: 5px;
    background: #fff;
}

// vant全局变量
:root {
    --van-skeleton-avatar-size: 50px;
    --van-button-normal-font-size: 14px;
}